html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: url(./img/mathematics-1509559_1920.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  text-align: center;
}

body > h1{
  font-size: 26px;
  font-style: verdana,sans-serif;arial;
  padding: 8px;
}
.container {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F11554;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 10px 10px 5px grey;
}

.display {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #15EFF1;
  color: #252525;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.keypad {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  padding: 20px;

}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background-color: #15F1B7;
  font-size: 2rem;
  color: #333;
  text-shadow: 0 1px rgba(255,255,255,.4);
  cursor: pointer;
}

button:hover {
  background-color: #63F115;
}

.operators {
  color: #337cac;
}

.clrscreen {
  background-color: #F17215;
  border-color: #b0353a;
  color: #fff;
}

.clrscreen:hover {
  background-color: #E1F115;
  color: #252525;
}

.equal-sign {
  background-color: #4F15F1;
  border-color: #337cac;
  color: #fff;
  grid-row: 2/5;
  grid-column: 4/5;
}

.equal-sign:hover {
  background-color: #E1F115;
  color: #252525;
}
